Projects/perlinNoise/portfolio/*
/Projects/ticTacToe/Haas_TicTacToe2/Haas_TicTacToe/nbproject/private/
/Projects/ticTacToe/Haas_TicTacToe2/Haas_TicTacToe/build/
/Projects/ticTacToe/Haas_TicTacToe2/Haas_TicTacToe/dist/