html, body {
  height: 100%;
  background: #333;
  margin: 20px;
}

#title {
	color: #fff;
}

.tf {
	background: #000;
	color: #fff;
	padding: 10px;
	width: 8.52%;
	float: left;
}

#generate {
	float: left;
	padding: 10px;
}

#bar {
	width: 97%;
	height: auto;
	padding-bottom: 10px;
}


button {
	width: 8.52%;
}

#default {
	float: left;
	padding: 10px;
}

#save {
	float: left;
	padding: 10px;
}

#seed {
	float: left;
	padding: 10px;
}


#topText {
	color: #fff;
	margin: 0;
	padding-bottom: 0;
	width: 99%;
	height: auto;
}