body {
	background: #000;
}

a {
	color: #00a9ff;
}

#mainDiv {
	display: inline-block;
	width: 98%;
	margin-left: 1%;
	background: #111;
	height: auto;
}

#title {
	margin: auto;
	text-align: center;
	display: block;
	background: #333;
	padding-top: 10px;
}

#mainTextBody {
	background: #222;
	margin: auto;
	width: 100%;
	color: #fff;
}

#asciiClass {
	display: inline-block;
	margin-top: 10px;
	margin-left: 1%;
	background: #333;
	color: #fff;
	width: 98%;
}

.code {
	background: #000;
	color: #ff005d;
	display: block;
	margin: auto;
	width: 96%;
}

.javaCode {
	background: #000;
	color: #3fff00;
	display: block;
	margin: auto;
	width: 96%;
}