
body {
	background: #111;
}

#projectDiv {
	background: #eee;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-left: 25%;
	width: 50%;
	font-size: 20px;
}

.title {
	color: black;
	text-align: center;
	width: 100%;
	background: #999;
}

.textDiv {
	width: 96%;
	margin-left: 2%;
	background: #999;
}

.indentedText {
	width: 96%;
	margin-left: 2%;
}

img {
	width: 80%;
	margin-left: 10%;
	height: auto;
}

.slideShowPic {
	width: 92%;
	margin-left: 4%;
}